@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* (RTL) */
.text-right {
  text-align: right;
}

.direction-rtl {
  direction: rtl;
}

/* (LTR) */
.text-left {
  text-align: left;
}

.direction-ltr {
  direction: ltr;
}
